section#apps
  h2 APPS
  .items.items-2
    .item(style="background-image: url('https://lh6.ggpht.com/ZV62Hf1Z3oAY4po8zOLXR9s5Ttjdml7HeBy3XUCeRwts1GW5YVwQQQu5GIiAX6466yc=h900-rw')")
      .info
        h3 WhoFedThem
        p Pet tracking app now available on Android!
    .item(style="background-image: url('images/health-food.jpg')")
      .info
        h3 21 Day Fix App
        p Food tracking app to use along with 21 Day Fix by Beachbody &reg;
