section#contact
  h2 CONTACT
  p Feel free to send us an email at:
  a(href="mailto:apollocanis@gmail.com") ApolloCanis@Gmail.com!

  a(href="http://www.twitter.com/apollocanis")
    p Follow us on twitter!
