section#contact
  h2 CONTACT
  p Feel free to send us an email at:
  a(href="mailto:apollocanis@gmail.com") ApolloCanis@Gmail.com!

  p Follow us on twitter!
  a(href="http://www.twitter.com/apollocanis") Follow!
