section#games
  h2 GAMES
  .items
    .item(style="background-image: url('https://placehold.it/300x500')")
    .item(style="background-image: url('https://placehold.it/300x500')")
    .item(style="background-image: url('https://placehold.it/300x500')")
