html
  head
    link(rel='stylesheet', href='/style.css')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Muli')
    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Andika')

  body
    include header.jade
    include games.jade
    include apps.jade
    include contact.jade
    include footer.jade

  script(src='scripts/starlight.js')
