body {
    overflow-y: visible;
}
.header{
    background: #eeeeee;
    color: #000;
}
.coming-soon{
    color: #ccc;
}
.header a {
    font-size: 14pt;
    color: #222;
}
.header a:hover {
    color: #174372;
}
.promo {
    margin-top: 69px;
}
.click-link {
    cursor: pointer;
}
.game-logo{
    width: 90px;
    height: 90px;
}
.section {
    padding: 90px 0;
}
.pattern {
    background-image: url('images/blue-bg.jpg');
    border: 2px solid #041259;
}
.pattern .content {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    -webkit-transition: all 0.5s;-moz-transition: all 0.5s;-ms-transition: all 0.5s;-o-transition: all 0.5s;transition: all 0.5s;
}
.pattern .content:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.name {
    color: #fff;
    font-size: 20pt;
}
.title {
    color: #ddd;
    font-size: 16pt;
}
.black {
    color: #000;
}
.white {
    color: #fff;
}
.footer {
    background: #444;
    color: #fff;
    padding: 15px 0;
}
.about-img {
    width: 500px;
}