@transitionSpeed: 200ms;

section {
  text-align: center;
  padding: 10px 0;

  h2 {
    font-size: 28pt;
  }
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 auto;
  align-items: center;

  @media(max-width: 900px) {
    flex-wrap: wrap;
  }

  a.item {
    height: 500px;
    width: 300px;
    text-align: center;
    flex-grow: 1;
    background-size: 100% 100%;
    background-position: center;
    transition: all @transitionSpeed ease-in-out;
    position: relative;
    margin: 3px;

    @media(max-width: 900px) {
      flex: none;
    }

    .info {
      padding-top: 100px;
      opacity: 0;
      pointer-events: none;
      color: white;
      transition: all @transitionSpeed ease-in-out;
    }

    &:after{
      content: '';
      opacity: 0;
      background: rgba(0,0,0, 0.7);
      transition: all @transitionSpeed ease-in-out;
    }

    &:hover {
      background-size: 120% 120%;
      cursor: pointer;
      z-index: 0;

      &:after {
        content: '';
        opacity: 1;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        z-index: -1;
      }

      .info {
        opacity: 1;
        z-index: 20;
      }
    }
  }
}

.items-3 {
  max-width: calc(900px + 18px);

  @media (max-width: 900px) {
    max-width: calc(600px + 12px);
  }
}
.items-2 {
  max-width: calc(600px + 12px);
}

.items-2, .items-3 {
    @media (max-width: 650px) {
      max-width: calc(300px + 6px);
    }
}
